extends layout

block content
  .container
    h1 Create New Post
    include partials/messages
    
    form(action="/blog/create" method="POST")
      .form-group
        label(for="title") Title
        input#title.form-control(type="text" name="title" value=postTitle || '')
      .form-group
        label(for="content") Content
        textarea#content.form-control(name="content" rows="6")= content || ''
      button.btn.btn-primary(type="submit") Create Post
